# adding a git ignore to repository from one that I made previously
run the below commands on the terminal to add it to this repository

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/.gitignore ~/codeup-data-science/statistics-exercises

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/env.py ~/codeup-data-science/statistics-exercises

# creating a template to use for future repositories

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/.gitignore ~/codeup-data-science/"new_repository_name"

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/env.py ~/codeup-data-science/"new_repository_name"

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/.gitignore ~/codeup-data-science/data_science_notes

In [ ]:
# cp ~/codeup-data-science/numpy-pandas-visualization-exercises/env.py ~/codeup-data-science/data_science_notes

# setting up a template to connect to a database

In [1]:
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [2]:
def get_db_url(user,password,host,database):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [3]:
import pandas as pd
from env import user, password, host

pd.read_sql("select * from employees", get_db_url(user, password, host, 'employees'))

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [ ]:
def get_data_from_sql(user, host, password, database, query):
    
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
        
    return pd.read_sql(query, url)

In [ ]:
query = '''select * from employees'''

df = get_data_from_sql(user, host, password, "employees", query)